header{
    visibility: hidden;
}



h3{
    text-align: center;
    color: #ffffff;
}

.st-emotion-cache-1kyxreq{
    align-items: center;
    justify-content: center;
}

.st-emotion-cache-uef7qa{
    color: #0C74EB;
}

#stAppIframeResizerAnchor{
    display: none;
}