header{
    visibility: hidden;
}

section{
    background-color: black;
}

h3{
    text-align: center;
    color: #ffffff;
}

.st-emotion-cache-1kyxreq{
    align-items: center;
    justify-content: center;
}

/* st-emotion-cache-efbu8t e1i5pmia1 */

.st-emotion-cache-uef7qa{
    color: #0C74EB;
}